/*
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --fundo-principal: rgb(231, 231, 231);
  --texto: black;
  --texto-inverso: white;
  --destaque: rgb(224, 121, 152);;
  --destaque-inverso: lightpink;
  --fundo-card: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5em;
  background: #2b2b2b;
  color: var(--texto);
}

header {

  background: #cc0000;
  padding: 30px;
  
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
}


#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  will-change: transform;

  max-width: 1100px;
  margin: 30px auto;
  padding: 20px;

  background: #dbdbdb;
  border-radius: 20px;

  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#search {
  margin-top: 10px;
  padding: 10px;
  width: 220px;

  border-radius: 20px;
  border: none;

  outline: none;
}

.card {
  background: white;
  border: 3px solid transparent;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  cursor: pointer;

  transition: 0.2s;
}

.card:hover {
  border-color: #cc0000;
  transform: scale(1.05);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.card img {
  width: 80px;
  height: 80px;
}

.card h4 {
  font-size: 12px;
  color: #777;
  margin-bottom: 5px;
}

.card h3 {
  font-size: 15px;
  margin-top: 5px;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.modal-card {
  background: white;
  border: 4px solid transparent;
  border-radius: 16px;
  padding: 20px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.2);

  text-align: center;
}

.modal-card::after {
  content: "";
  display: block;
  height: 4px;
  margin-top: 10px;
  border-radius: 5px;
  background: currentColor;
  opacity: 0.2;
}

.hidden {
  display: none;
}

  .modal-content {
  background: #f8f8f8;
  border-radius: 20px;

  padding: 20px;
  width: 320px;

  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.modal-content h2 {
  margin-bottom: 10px;
}

#close {
  cursor: pointer;
  float: right;
  font-size: 20px;
  position: relative;
  z-index: 10;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;

  width: 260px;
  text-align: center;

  animation: aparecer 0.1s ease;
}

@keyframes aparecer {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#loadMoreBtn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#loadMore {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  padding: 12px 20px;
  border-radius: 20px;

  border: none;
  background: #cc0000;
  color: white;

  cursor: pointer;

  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

  z-index: 1000;

  transition: 0.2s;
}

#loadMore:hover {
  transform: translateX(-50%) scale(1.05);
  background: #a30000;
}

#loadMore.hidden {
  display: none;
}

/* Clique */
#loadMore:active {
  transform: translateX(-50%) scale(0.95);
}

/* Desativado */
#loadMoreBtn:disabled {
  background: #9ca3af;
  cursor: not-allowed;
  box-shadow: none;
}

.btn {
  background: #cc0000;
  color: white;

  border-radius: 10px;
  padding: 10px;

  border: none;
}

.btn:hover {
  background: #fd6d6d;
}

.evoluir {
  background: #4caf50;
  color: white;
}

.evolution-list {
  margin-top: 10px;
}

.evolution-item {
  padding: 5px 10px;
  background: #eee;
  border-radius: 8px;
}

.evolution-item:hover {
  background: #c20707f1;
  color: white;
}

.voltar {
  background: #cc0000;
  color: white;
}

.btn:disabled {
  background: #999;
  cursor: not-allowed;
  transform: none;
  opacity: 0.6;
}

.btn:disabled {
  background: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}


@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.fade-in {
  opacity: 0;
  transform: scale(1.1);
  animation: aparecer 0.3s forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.flash {
  animation: flash 0.3s;
}

@keyframes flash {
  0% { background: white; }
  100% { background: transparent; }
}

#backToTop {
  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  border: none;

  background: #cc0000;
  color: white;

  display: none; /* controlado pelo JS */

  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  z-index: 9999;

  transition: 0.2s;
}

#backToTop i {
  font-size: 18px;
}

#backToTop:hover {
  background: #ff1a1a;
  transform: scale(1.1);
}

#backToTop:active {
  transform: scale(0.9);
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 5px 0;
}

.bar {
  flex: 1;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #4caf50;
  border-radius: 5px;
}

.modal-card.fire { border-color: #f08030; }
.modal-card.water { border-color: #6890f0; }
.modal-card.grass { border-color: #78c850; }
.modal-card.electric { border-color: #f8d030; }
.modal-card.ice { border-color: #98d8d8; }
.modal-card.fighting { border-color: #c03028; }
.modal-card.poison { border-color: #a040a0; }
.modal-card.ground { border-color: #e0c068; }
.modal-card.flying { border-color: #a890f0; }
.modal-card.psychic { border-color: #f85888; }
.modal-card.bug { border-color: #a8b820; }
.modal-card.rock { border-color: #b8a038; }
.modal-card.ghost { border-color: #705898; }
.modal-card.dragon { border-color: #7038f8; }
.modal-card.dark { border-color: #705848; }
.modal-card.steel { border-color: #b8b8d0; }
.modal-card.fairy { border-color: #ee99ac; }
.modal-card.normal { border-color: #a8a878; }

#scrollDown {
  position: fixed;
  bottom: 25px;
  right: 80px;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  border: none;

  background: #cc0000;
  color: white;

  display: none;

  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  z-index: 9999;

  transition: 0.2s;
}

#scrollDown:hover {
  transform: scale(1.1);
}

#scrollDown i {
  font-size: 18px;
}