/*
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --fundo-principal: rgb(231, 231, 231);
  --texto: black;
  --texto-inverso: white;
  --destaque: rgb(224, 121, 152);;
  --destaque-inverso: lightpink;
  --fundo-card: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5em;
  background: #2b2b2b;
  color: var(--texto);
}

header {

  background: #cc0000;
  padding: 30px;
  
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
}


#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;

  max-width: 1100px;
  margin: 30px auto;
  padding: 20px;

  background: #dbdbdb;
  border-radius: 20px;

  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#search {
  margin-top: 10px;
  padding: 10px;
  width: 220px;

  border-radius: 20px;
  border: none;

  outline: none;
}

.card {
  background: #ffffff;
  border-radius: 15px;

  border: 2px solid #ddd;

  padding: 12px;
  text-align: center;

  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  border-color: #cc0000;
  transform: scale(1.05);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.card img {
  width: 80px;
  height: 80px;
}

.card h4 {
  font-size: 12px;
  color: #777;
  margin-bottom: 5px;
}

.card h3 {
  font-size: 15px;
  margin-top: 5px;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.hidden {
  display: none;
}

  .modal-content {
  background: #f8f8f8;
  border-radius: 20px;

  padding: 20px;
  width: 320px;

  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.modal-content h2 {
  margin-bottom: 10px;
}

#close {
  cursor: pointer;
  float: right;
  font-size: 20px;
  position: relative;
  z-index: 10;
}

/* TODOS OS TIPOS DE POKÉMON */

.normal { background: #a8a878; color: white; }

.fire { background: #f08030; color: white; }

.water { background: #6890f0; color: white; }

.electric { background: #f8d030; }

.grass { background: #78c850; color: white; }

.ice { background: #98d8d8; }

.fighting { background: #c03028; color: white; }

.poison { background: #a040a0; color: white; }

.ground { background: #e0c068; }

.flying { background: #a890f0; }

.psychic { background: #f85888; color: white; }

.bug { background: #a8b820; }

.rock { background: #b8a038; }

.ghost { background: #705898; color: white; }

.dragon { background: #7038f8; color: white; }

.dark { background: #705848; color: white; }

.steel { background: #b8b8d0; }

.fairy { background: #ee99ac; }


.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;

  width: 260px;
  text-align: center;

  animation: aparecer 0.1s ease;
}

@keyframes aparecer {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#loadMoreBtn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#loadMore {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  padding: 12px 20px;
  border-radius: 20px;

  border: none;
  background: #cc0000;
  color: white;

  cursor: pointer;

  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

  z-index: 1000;

  transition: 0.2s;
}

#loadMore:hover {
  transform: translateX(-50%) scale(1.05);
  background: #a30000;
}

#loadMore.hidden {
  display: none;
}

/* Clique */
#loadMore:active {
  transform: translateX(-50%) scale(0.95);
}

/* Desativado */
#loadMoreBtn:disabled {
  background: #9ca3af;
  cursor: not-allowed;
  box-shadow: none;
}

.btn {
  background: #cc0000;
  color: white;

  border-radius: 10px;
  padding: 10px;

  border: none;
}

.btn:hover {
  background: #fd6d6d;
}

.evoluir {
  background: #4caf50;
  color: white;
}

.evolution-list {
  margin-top: 10px;
}

.evolution-item {
  padding: 5px 10px;
  background: #eee;
  border-radius: 8px;
}

.evolution-item:hover {
  background: #c20707f1;
  color: white;
}

.voltar {
  background: #cc0000;
  color: white;
}

.btn:disabled {
  background: #999;
  cursor: not-allowed;
  transform: none;
  opacity: 0.6;
}

.btn:disabled {
  background: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}


@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.fade-in {
  opacity: 0;
  transform: scale(1.1);
  animation: aparecer 0.3s forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.flash {
  animation: flash 0.3s;
}

@keyframes flash {
  0% { background: white; }
  100% { background: transparent; }
}